.Slider {
    width:100%;
    height:800px;
    // border:1px solid #000;
    display:flex;
    outline:none;
}

.swiper-slider {
    width:412px;
    height:608px;
    margin-right:40px;
    // border:1px solid #000;
    // background:red;
    float:left;
    border:1px solid #000;
    outline:none;
}

.item {
    max-width:421px;
    height: 509px;
    clear:both;
    // border:1px solid #000;
    display:inline-block;
    margin:10px;
    
     
    @media screen and (max-width:1700px) {
        max-width:380px;
        height:10px;
        border:1px solid #000;
    }
}

.item2 {
    max-width:421px;
    // height: 509px;
    clear:both;
    // border:1px solid #000;
    float:left;
    margin:10px;
    position:relative;
    top:15px;

    
     
    @media screen and (max-width:1700px) {
        max-width:300px;
        height:10px;
        border:1px solid #000;
    }
}

.item_holder {
    width:100%;
    height:400px;
    float:left;
    clear:both;
    position:relative;
    border-radius: 5px;
    overflow:hidden;
    transform: translateZ(0);
    border:1px solid #000;
    padding-top:50px;
}

.item_holder2 {
    width:100%;
    height:400px;
    float:left;
    clear:both;
    position:relative;
    border-radius: 5px;
    overflow:hidden;
    transform: translateZ(0);
    border:1px solid #000;
    padding-top:0px;
    position:relative;
    top:-20px;
}


.item_title {
    width:401px;
    height:57px;
    // border:1px solid #000;
    padding: 1px 10px;
    clear:both;

     
 
}

.item_title2 {
    width:401px;
    height:57px;
    // border:1px solid #000;
    padding: 1px 10px;
    clear:both;
    position:relative;
    bottom:10px;
   
    @media screen and (max-width:1700px) {
        max-width:380px;
        height:10px;
        // border:1px solid #000;
    }
}
 

.item_title3 {
    width:401px;
    height:57px;
    // border:1px solid #000;
    padding: 1px 10px;
    clear:both;
    position:relative;
    bottom:10%;
   
    @media screen and (max-width:1700px) {
        max-width:380px;
        height:10px;
        // border:1px solid #000;
    }
}
 



p {
    width:100%;
    height:100px;
    // border:1px solid red;
    display:inline-block;
    margin-left:-0px;
    margin-top:-20px;
}

a{
text-decoration:none;
  color:rgb(48, 48, 48);
}

.item2 {
    width:100%;
    max-width:350px;
    height:400px;
    float:left;
    clear:both;
    position:relative;
    border-radius: 5px;
    overflow:hidden;
    transform: translateZ(0);
    border:1px solid #000;
    padding-top:0px;
    position:relative;
    top:-20px;
    float:left;
}

.item3 {
    width:100%;
    height:400px;
    float:left;
    clear:both;
    position:relative;
    border-radius: 5px;
    overflow:hidden;
    transform: translateZ(0);
    border:1px solid #000;
    padding-top:0px;
    position:relative;
    left:100%;
    bottom:500px;
    float:left;
}

.item4 {
    width:100%;
    height:400px;
    float:left;
    clear:both;
    position:relative;
    border-radius: 5px;
    overflow:hidden;
    transform: translateZ(0);
    border:1px solid #000;
    padding-top:0px;
    position:relative;
    left:220%;
    bottom:960px;
    float:left;
}

 
 

.item_title4 {
    width:401px;
    height:57px;
    // border:1px solid #000;
    padding: 1px 10px;
    clear:both;
    position:relative;
    bottom:8%;
   
    @media screen and (max-width:1700px) {
        max-width:380px;
        height:10px;
        // border:1px solid #000;
    }
}

.item_title5 {
    width:401px;
    height:57px;
    // border:1px solid #000;
    padding: 1px 10px;
    clear:both;
    position:absolute;
    bottom:-70px;
    left:100%;
   
    @media screen and (max-width:1700px) {
        max-width:380px;
        height:10px;
        // border:1px solid #000;
    }
}



.item_title6 {
    width:401px;
    height:57px;
    // border:1px solid #000;
    padding: 1px 10px;
    clear:both;
    position:absolute;
    bottom:-10px;
    left:210%;
   
    @media screen and (max-width:1700px) {
        max-width:380px;
        height:10px;
        // border:1px solid #000;
    }
}